<IfModule mod_rewrite.c>
    RewriteEngine On
    # Serve existing files if they exist
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
    RewriteRule ^ - [L]

    # Route all other requests to index.html
    RewriteRule ^ index.html [L]
</IfModule>
